.adPageWrapper {
  padding: 20px;
}

.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtersWrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
