@font-face {
  font-family: "RubicMonoOne";
  src: url("/RubikMonoOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "RubicMonoOne", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
